<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "UTF-8">
        <title></title>
    </head>
    <body>
        <div class="content_wrap">
            <div class="agreement">
                <h2 class="section_title">제1장 총칙</h2>
                <h3 class="sub_title">제1조(목적)</h3>
                <p>본 약관은 SPEC(이하 “SPEC팀”)이 제공하는 SPEC 홈페이지(이하 "홈페이지")를 이용함에
                    있어 홈페이지 회원의 제반 권리, 의무 및 관련 절차 등을 규정하는데 그 목적이 있습니다.</p>
    
                <h3 class="sub_title">제2조(약관의 효력 및 변경)</h3>
                <ol>
                    <li>본 약관은 홈페이지에 가입된 고객을 포함하여 홈페이지를 이용하고자 하는 모든 이용자에 대하여 그 효력을
                        발생합니다.</li>
                    <li>본 약관의 내용은 홈페이지 화면에 게시하거나 기타의 방법으로 회원에게 공시하고, 회원이 홈페이지에
                        가입함으로써 효력이 발생합니다.</li>
                    <li>본 약관은 SPEC팀이 필요하다고 인정되는 경우 변경할 수 있으며, 약관이 변경된 경우에는 지체 없이
                        제2항과 같은 방법으로 공시합니다.</li>
                </ol>
    
                <h3 class="sub_title">제3조(약관 외 준칙)</h3>
                <p>이 약관에 명시되지 않은 사항은 기타 관계법령에 따릅니다.</p>
    
                <h3 class="sub_title">제4조(용어의 정의)</h3>
                <p>이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                <ol class="mt10">
                    <li>회원 : SPEC팀과 홈페이지 이용계약을 체결한 개인 및 법인</li>
                    <li>운영자 : 서비스의 전반적인 관리와 원활한 운영을 위하여 회사가 선정한 사람</li>
                    <li>ID : 회원식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인하는 문자와 숫자의 조합</li>
                    <li>비밀번호 : 회원의 비밀 보호를 위해 회원 자신이 설정한 문자와 숫자의 조합</li>
                    <li>해지 : SPEC팀 또는 회원이 서비스 개통 후 이용계약을 해약하는 것</li>
                </ol>
    
                <h2 class="section_title">제2장 홈페이지 이용계약 체결</h2>
    
                <h3 class="sub_title">제5조(이용계약의 성립)</h3>
                <ol>
                    <li>① 약관을 확인하시고 "동의"버튼을 누르시면 약관에 동의하는 것으로 간주됩니다.</li>
                    <li>② 이용계약은 고객의 이용신청에 대하여 회사가 승낙함으로써 성립합니다.</li>
                </ol>
    
                <h3 class="sub_title">제6조(이용신청 및 승낙)</h3>
                <ol>
                    <li>이용신청은 홈페이지의 신규회원가입 화면에서 고객이 다음 사항을 가입신청양식에 기록하여 신청합니다.
                        <ul>
                            <li>이름</li>
                            <li>아이디</li>
                            <li>이메일</li>
                            <li>비밀번호</li>
                            <li>업체명</li>
                            <li>국가</li>
                            <li>연락처</li>
                            <li>주소</li>
                        </ul>
                    </li>
                    <li>SPEC팀은 본 조 1항에서 정한 사항을 정확히 기재하여 이용 신청한 고객에 대하여 홈페이지 이용신청을
                        승낙합니다.</li>
                    <li>SPEC팀은 다음과 같은 경우 이용신청자의 이용 신청 승낙을 제한할 수 있고, 이 사유가 해소될 때까지
                        승낙을 유보할 수 있습니다.
                        <ul>
                            <li>기술상 서비스 제공이 불가능한 경우</li>
                            <li>실명이 아니거나, 다른 사람의 명의사용 등 이용자 등록 시 허위로 신청하는 경우</li>
                            <li>이용자 등록 사항을 누락하거나 오기하여 신청하는 경우</li>
                            <li>사회의 안녕 질서 또는 미풍양속을 저해하거나, 저해할 목적으로 신청한 경우</li>
                            <li>제17조 제2항에 의하여 이전에 회원 자격을 상실한 적인 있는 경우, 다만, 동 자격 상실 이후 1년
                                이상 경과한 자로 회사의 회원 재가입 승낙을 받을 경우는 예외로 합니다.</li>
                            <li>기타 회사가 정한 이용신청 요건이 만족되지 않았을 경우</li>
                        </ul>
                    </li>
                    <li>회원의 자격에 따라 홈페이지 이용의 일부가 제한될 수 있으며, SPEC팀 서비스 변동(명의변경, 해지 등)에
                        따라 회원자격 및 홈페이지 이용범위가 변동될 수 있습니다.</li>
                </ol>
    
                <h3 class="sub_title">제7조(회원정보의 변경)</h3>
                <p>회원은 이용 신청 시 기재한 사항이 변경되었을 경우 회사가 정한 별도의 이용방법으로 정해진 양식 및 방법에
                    의하여 수정하여야 합니다.</p>
    
                <h2 class="section_title">제3장 홈페이지 이용</h2>
                <h3 class="sub_title">제8조(홈페이지의 이용시간)</h3>
                <ul>
                    <li>홈페이지의 이용은 연중무휴 1일 24시간을 원칙으로 합니다. 다만, 회사의 업무상이나 기술상의 이유로
                        홈페이지가 일시중지될 수 있고, 또한 운영상의 목적으로 회사가 정한 기간에는 홈페이지가 일시 중지될 수 있습니다. 이러한
                        경우 회사는 사전 또는 사후에 이를 공지합니다.</li>
                    <li>SPEC팀은 홈페이지를 일정범위로 분할하여 각 범위별로 이용 가능한 시간을 별도로 정할 수 있으며 이 경우
                        그 내용을 공지합니다.</li>
                </ul>
    
                <h3 class="sub_title">제9조(홈페이지의 변경 및 중지)</h3>
                <ol>
                    <li>SPEC팀은 수시로 서비스의 향상을 위하여 기존 홈페이지의 전부 또는 일부 내용을 별도의 통지 없이 변경할
                        수 있습니다.</li>
                    <li>SPEC팀은 다음 각 호에 해당하는 경우 홈페이지의 전부 또는 일부를 제한하거나 중지할 수 있습니다.
                        <ul>
                            <li>홈페이지용 설비의 보수 등 공사로 인한 부득이한 경우</li>
                            <li>회원이 SPEC팀의 영업활동을 방해하는 경우</li>
                            <li>정전, 제반 설비의 장애 또는 이용량의 폭주 등으로 정상적인 홈페이지 이용에 지장이 있는 경우</li>
                            <li>기타 천재지변, 국가비상사태 등 불가항력적 사유가 있는 경우</li>
                        </ul>
                    </li>
                    <li>SPEC팀은 홈페이지의 변경, 중지로 발생하는 문제에 대해서는 어떠한 책임도 지지 않습니다.</li>
                </ol>
    
                <h3 class="sub_title">제10조(정보의 제공 및 광고의 게재))</h3>
                <ol>
                    <li>SPEC팀은 홈페이지의 운용과 관련하여 홈페이지 화면, 이메일 등의 회사에서 지정하는 위치에 광고 등을
                        게재할 수 있습니다.</li>
                    <li>회원은 SPEC팀에서 제공하는 홈페이지 배너 광고에 대한 임의의 삭제, 비방 기타 홈페이지 배너 광고 방해
                        행위 등을 할 수 없습니다.</li>
                    <li>SPEC팀은 홈페이지를 운용함에 있어서 각종 정보를 홈페이지에 게재하는 방법 등으로 회원에게 제공 할 수
                        있습니다.</li>
                </ol>
    
                <h3 class="sub_title">제11조(게시물 또는 내용물의 삭제)</h3>
                <ol>
                    <li>SPEC팀은 회원이 게시하거나 전달하는 홈페이지 내의 모든 내용물(회원간 전달 포함)이 다음의 경우에
                        해당한다고 판단되는 경우 사전통지 없이 삭제 할 수 있으며, 이에 대해 회사는 어떠한 책임도 지지 않습니다.
                        <ul>
                            <li>SPEC팀, 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우</li>
                            <li>공공질서 및 미풍양속에 위반한 경우</li>
                            <li>범죄적 행위에 결부된다고 인정되는 내용인 경우</li>
                            <li>SPEC팀의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우</li>
                            <li>SPEC팀에서 제공하는 홈페이지와 관련 없는 내용인 경우</li>
                            <li>기타 관계법령 등에 위반된다고 판단되는 경우</li>
                        </ul>
                    </li>
                    <li>SPEC팀은 게시물에 관련된 세부이용지침을 별도로 정하여 시행할 수 있으며, 회원은 그 지침에 따라 각종
                        게시물 (회원간 전달 포함)을 등록하거나 삭제 하여야 합니다.</li>
                </ol>
    
                <h3 class="sub_title">제12조(게시물의 저작권)</h3>
                <p>홈페이지에 게재된 모든 자료(회원간 전달 포함)에 대한 권리는 다음과 같습니다.</p>
                <ol>
                    <li>게시물에 대한 권리와 책임은 게시자에게 있으며 SPEC팀은 게시자의 동의 없이 이를 서비스 내 게재 이외에
                        영리적 목적으로 사용할 수 없습니다. 단, 비영리 목적인 경우에는 그러하지 아니하며 SPEC팀은 타 회사 내 게재권을
                        갖습니다.</li>
                    <li>회원은 홈페이지를 이용하여 얻은 정보를 가공, 판매하는 행위 등 서비스에 게재된 자료를 영리목적으로
                        이용하거나 제3자에게 이용하게 할 수 없으며, 게시물에 대한 저작권 침해는 관계 법령의 적용을 받습니다.</li>
                </ol>
    
                <h2 class="section_title">제4장 계약당사자의 의무</h2>
                <h3 class="sub_title">제13조(SPEC팀의 의무)</h3>
                <ol>
                    <li>SPEC팀은 홈페이지 제공과 관련하여 알고 있는 회원의 신상정보를 본인의 승낙 없이 제3자에게 누설,
                        배포하지 않습니다. 단, 법률의 규정에 따른 적법한 절차에 의한 경우에는 그러하지 않습니다.</li>
                    <li>제1항의 범위 내에서, SPEC팀은 업무와 관련하여 회원의 사전 동의 없이 회원 전체 또는 일부의 개인정보에
                        관한 통계자료를 작성하여 이를 사용할 수 있고, 이를 위하여 회원의 컴퓨터에 쿠키를 전송할 수 있습니다.<br>
                        이 경우 회원은 쿠키의 수신을 거부하거나 쿠키의 수신에 대하여 경고하도록 사용하는 컴퓨터의 브라우저의 설정을 변경할 수
                        있으며, 쿠키의 설정 변경에 의해 서비스 이용이 변경되는 것은 회원의 책임입니다.
                    </li>
                    <li>SPEC팀은 홈페이지와 관련한 회원의 불만사항이 접수되는 경우 이를 신속하게 처리하여야 하며, 신속한 처리가
                        곤란한 경우 그 사유와 처리 일정을 홈페이지 화면에 게재하거나 전자우편 등을 통하여 동 회원에게 통지합니다.</li>
                </ol>
    
                <h3 class="sub_title">제14조(회원의 의무)</h3>
                <ol>
                    <li>회원은 홈페이지를 이용할 때 다음 각 호의 행위를 하여서는 안됩니다.
                        <ul>
                            <li>이용 신청 시 허위 사실을 기재하거나, 다른 회원의 ID 및 비밀번호를 도용, 부정하게 사용하는 행위</li>
                            <li>SPEC팀의 홈페이지 정보를 이용하여 얻은 정보를 SPEC팀의 사전 승낙 없이 복제 또는 유통시키거나
                                상업적으로 이용하는 행위</li>
                            <li>타인의 명예를 손상시키거나 불이익을 주는 행위</li>
                            <li>게시판 등에 음란물을 게재하거나 음란사이트를 연결(링크)하는 행위</li>
                            <li>SPEC팀의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 행위</li>
                            <li>공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형, 음성 등을 타인에게 유포하는 행위</li>
                            <li>홈페이지와 관련된 설비의 오동작이나 정보 등의 파괴 및 혼란을 유발시키는 컴퓨터 바이러스 감염 자료를
                                등록 또는 유포하는 행위</li>
                            <li>홈페이지 운영을 고의로 방해하거나 홈페이지의 안정적 운영을 방해 할 수 있는 정보 및 수신자의 의사에
                                반하여 광고성 정보를 전송하는 행위</li>
                        </ul>
                    </li>
                    <li>회원은 관계 법령, 본 약관의 규정, 이용안내 및 서비스상에 공지한 주의사항, SPEC팀이 통지하는 사항
                        등을 준수하여야 하며, 기타 SPEC팀의 업무에 방해 되는 행위를 하여서는 아니 됩니다.</li>
                    <li>회원은 SPEC팀에서 공식적으로 인정한 경우를 제외하고는 홈페이지를 이용하여 상품을 판매하는 영업 활동을 할
                        수 없으며 특히 해킹, 광고를 통한 수익, 음란사이트를 통한 상업행위, 상용소프트웨어 불법배포 등을 할 수 없습니다.
                        이를 위반하여 발생한 영업 활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 SPEC팀이 책임을
                        지지 않으며, 회원은 이와 같은 행위와 관련하여 SPEC팀에 대하여 손해배상 의무를 집니다.</li>
                </ol>
    
                <h3 class="sub_title">제15조(회원 ID와 비밀번호 관리에 대한 의무와 책임)</h3>
                <ol>
                    <li>회원 ID와 비밀 번호의 관리 소홀, 부정 사용에 의하여 발생하는 모든 결과에 대한 책임은 회원 본인에게
                        있으며, SPEC팀의 시스템 고장 등 SPEC팀의 책임있는 사유로 발생하는 문제에 대해서는 SPEC팀이 책임을 집니다.</li>
                    <li>회원은 본인의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안되며, 회원 본인의 ID 및 비밀번호를
                        도난당하거나 제3자가 사용하고 있음을 인지하는 경우에는 바로 SPEC팀에 통보하고 SPEC팀의 안내가 있는 경우 그에 따라야
                        합니다.</li>
                    <li>회원의 ID는 SPEC팀의 사전 동의 없이 변경할 수 없습니다.</li>
                </ol>
    
                <h3 class="sub_title">제16조(회원에 대한 통지)</h3>
                <ol>
                    <li>회원에 대한 통지를 하는 경우 SPEC팀은 회원이 등록한 전자우편 주소 또는 SMS 등으로 할 수 있습니다.</li>
                    <li>SPEC팀은 불특정 다수 회원에 대한 통지의 경우 홈페이지 게시판 등에 게시함으로써 개별 통지에 갈음할 수
                        있습니다.</li>
                </ol>
    
                <h2 class="section_title">제5장 계약해지 및 이용제한</h2>
                <h3 class="sub_title">제17조(계약해지 및 이용제한)</h3>
                <ol>
                    <li>회원이 홈페이지 이용계약을 해지하고자 할 경우에는 본인이 홈페이지 상에서 또는 SPEC팀이 정한 별도의
                        이용방법으로 SPEC팀에 해지신청을 하여야 합니다.</li>
                    <li>SPEC팀은 회원이 제14조에 규정한 회원의 의무를 이행하지 않을 경우 사전 통지 없이 이용계약을 해지하거나
                        또는 서비스 이용을 중지할 수 있습니다.</li>
                    <li>SPEC팀은 회원이 이용계약을 체결하여 ID와 비밀번호를 부여 받은 후에라도 회원의 자격에 따른 홈페이지
                        이용을 제한할 수 있습니다.</li>
                    <li>본 조 제2항 및 제3항의 SPEC팀의 조치에 대하여 회원은 SPEC팀이 정한 절차에 따라 이의신청을 할 수
                        있습니다.</li>
                    <li>본 조 제4항의 이의가 정당하다고 SPEC팀이 인정하는 경우, SPEC팀은 즉시 홈페이지의 이용을 재개합니다.</li>
                </ol>
    
                <h3 class="sub_title">제18조(양도 금지)</h3>
                <p>회원은 홈페이지의 이용권한, 기타 이용 계약상 지위를 타인에게 양도, 증여할 수 없으며 게시물에 대한 저작권을
                    포함한 모든 권리 및 책임은 이를 게시한 회원에게 있습니다.</p>
    
                <h2 class="section_title">제6장 손해 배상 등</h2>
                <h3 class="sub_title">제19조(손해 배상)</h3>
                <ol>
                    <li>본 홈페이지는 회원의 편의를 위하여 제공하는 것으로서, 본 홈페이지 서비스 이용과 관련하여 발생한 어떠한
                        손해에 대하여도 SPEC팀이 책임을 지지 않습니다.</li>
                    <li>회원이 본 약관을 위반함으로 인하여 SPEC팀에 손해가 발생하게 되는 경우, 이 약관을 위반한 회원은
                        SPEC팀에 발생하는 모든 손해를 배상하여야 합니다.</li>
                    <li>회원이 홈페이지를 이용함에 있어 행한 불법행위나 본 약관 위반행위로 인하여 SPEC팀이 당해 회원 이외의
                        제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 당해 회원은 자신의 책임과 비용으로 SPEC팀을
                        면책시켜야 하며, SPEC팀이 면책되지 못한 경우 당해 회원은 그로 인하여 SPEC팀에 발생한 모든 손해를 배상하여야
                        합니다.</li>
                </ol>
    
                <h3 class="sub_title">제20조(면책 사항)</h3>
                <ol>
                    <li>SPEC팀은 천재지변 또는 이에 준하는 불가항력으로 인하여 홈페이지를 제공할 수 없는 경우에는 홈페이지
                        제공에 관한 책임이 면제됩니다.</li>
                    <li>SPEC팀은 회원의 귀책사유로 인한 홈페이지의 이용장애에 대하여 책임을 지지 않습니다.</li>
                    <li>SPEC팀은 회원이 홈페이지를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며 그 밖에
                        홈페이지를 통하여 얻은 자료로 인한 손해 등에 대하여도 책임을 지지 않습니다.<br> SPEC팀은 회원이
                        홈페이지에 게재한 정보•자료•사실의 신뢰도 및 정확성 등 내용에 대하여는 책임을 지지 않습니다.
                    </li>
                    <li>SPEC팀은 회원 상호간 또는 회원과 제3자 상호간에 홈페이지를 매개로 발생한 분쟁에 대해서는 개입할 의무가
                        없으며 이로 인한 손해를 배상할 책임도 없습니다.</li>
                </ol>
    
                <h3 class="sub_title">제21조(법률의 적용)</h3>
                <ol>
                    <li>회원의 홈페이지 사용으로 발생되는 모든 법적 문제는 대한민국 관계법령의 적용을 받습니다.</li>
                    <li>홈페이지 이용과 관련하여 회사와 회원 사이에 분쟁이 발생한 경우, 쌍방간에 분쟁의 해결을 위해 성실히
                        협의한 후가 아니면 제소할 수 없습니다.</li>
                    <li>본 조 제1항의 협의에서도 분쟁이 해결되지 않을 경우 양 당사자는 민사소송법상의 관할법원에 소를 제기할 수
                        있습니다.</li>
                </ol>
    
                <h2 class="section_title">부칙</h2>
                <p>(시행일) 이 약관은 2019년 08월 21일부터 시행합니다.</p>
            </div>
        </div>
    </body>
</html>